.commenti-comment {
    margin-bottom: 1rem;
}

.commenti-author {
    font-weight: bold;
}

.commenti-date {
    color: grey;
}

.commenti-error-message {
    color: red;
}

.commenti-comment-content p {
    margin: 0;
}

.commenti-comment-content p+p {
    margin-top: 1em;
}

.commenti-comment-content-deleted {
    color: #777;
    font-style: italic;
}

.commenti-comment-children {
    border-left: 3px solid lightgrey;
    padding: 0.5rem 0 0 1rem;
    margin-top: 0.5rem;
}

.commenti-auth-block {
    margin-bottom: 1rem;
}

.commenti-auth-block .commenti-form-fields-group {
    margin-top: 1rem;
}

.commenti-reply-form {
    margin-bottom: 1rem;
}

.commenti-comment-text-field {
    width: 100%;
    resize: vertical;
}

.commenti-form-fields-group {
    display: table;
}

.commenti-form-fields-group .commenti-form-field {
    display: table-row;
}

.commenti-form-fields-group .commenti-form-field label,
.commenti-form-fields-group .commenti-form-field span {
    display: table-cell;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.commenti-form-fields-group .commenti-form-field label:last-child,
.commenti-form-fields-group .commenti-form-field span:last-child {
    display: table-cell;
    padding-right: 0;
}

.commenti-inline-button {
    font-family: inherit;
    font-weight: bold;
    line-height: 2rem;
    text-transform: uppercase;
    padding: 0;
    background: none;
    border: 0 none;
    color: rgb(115, 115, 115);
    cursor: pointer;
    border-radius: 3px;
}

.commenti-inline-button +
.commenti-inline-button {
    margin-left: 1rem;
}

.commenti-button {
    font-family: inherit;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 1em;
    background: #6d6d6d;
    border: 0 none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.commenti-text-field {
    background: white;
    color: black;
    font: inherit;
    border-radius: 3px;
    border: 2px solid #6d6d6d;
}
